.git
.github
.vscode
.idea
node_modules
vendor
public/build
public/hot
public/storage
storage/app/public
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*.php
.env
.env.*
!.env.example
database/database.sqlite
*.log
npm-debug.log*
.DS_Store
tests
phpunit.xml
pint.json
eslint.config.js
tsconfig.json
README.md
